.contact h2 {
    margin-bottom: 3rem;
}

.contact .form {
    max-width: 70rem;
    margin: 8rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact .form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact .form .input-box input,
.contact .form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--second-bg-color);
    border-radius: .8rem;
    margin: .6rem 0;
}

.contact .form .input-box input {
    width: 49%;
}

.contact .form textarea {
    resize: none;
}

.contact .form .input-box input::placeholder,
.contact .form textarea::placeholder {
    text-align: center;
}

.contact .form .btn {
    margin-top: 2rem;
    cursor: pointer;
}